OWNER_NAME="💀ᡃ⃢⃟🇨🇬𝘾𝙊𝙉𝙁𝙐𝘾𝙄𝙐𝙎🇨🇬ᡃ⃢⃟⃢💀)"
PREFIX="☭"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="non"
BOT_NAME= "FLASH-MD"
IMAGE_MENU= "https://iili.io/didm6HN.jpg"
NUMERO_OWNER= "242055617560"
OWNER_NAME= "᚛𝘾𝙊𝙉𝙁𝙐𝘾𝙄𝙐𝙎᚜"
DATABASE_URL= "postgresql://brel_database_user:GIURl9Eo4XmK2qAIwYM4JfS0LJ4Tp6cn@dpg-crdo0sggph6c73ehu2eg-a.oregon-postgres.render.com/brel_database"
WARN_COUNT= "4"
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
